<form (ngSubmit)="login()" [formGroup]="userForm">
  <div class="col-md-12">
    <md-form-field class="full-width">
      <input mdInput placeholder="Login" formControlName="login">
    </md-form-field>
    <!--<div class="error" *ngIf="user.controls['login'].errors && user.controls['login'].touched">-->
      <!--Login is required-->
    <!--</div>-->
  </div>
  <div class="col-md-12">
    <md-form-field class="full-width">
      <input type="password" mdInput placeholder="Password" formControlName="password" autocomplete="false">
    </md-form-field>
    <!--<div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">-->
      <!--Password is required-->
    <!--</div>-->
  </div>
  <div class="col-md-12">
    <a href="" >Forgot password</a>
    <button md-button type="submit">Login</button>
  </div>
</form>
