<div class="back_btn" matTooltip="Go home" [matTooltipShowDelay]="1000">
  <button mat-button type="button" (click)="goBack()">
    <i class="material-icons">keyboard_backspace</i>
  </button>
</div>
<mat-list>
  <h3 mat-subheader>Login</h3>
  <mat-divider></mat-divider>
</mat-list>
<form class="login_page" (ngSubmit)="login()" [formGroup]="loginForm">
  <div class="col-md-12">
    <mat-form-field class="full-width">
      <input matInput placeholder="Login" formControlName="login">
    </mat-form-field>
    <div class="validation_error" *ngIf="loginForm.get('login').errors && loginForm.get('login').touched">
      <i class="material-icons">error</i> Login is required
    </div>
  </div>
  <div class="col-md-12">
    <mat-form-field class="full-width">
      <input type="password" matInput placeholder="Password" formControlName="password" autocomplete="false">
    </mat-form-field>
    <div class="validation_error" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
      <i class="material-icons">error</i> Password is required
    </div>
  </div>
  <div class="col-md-12 login_actions">
    <a href="" class="forgot_pswd_btn">Forgot password</a>
    <button mat-button type="submit" class="signup_btn" [disabled]="loginForm.invalid || loginForm.pristine">
      Login
    </button>
  </div>
</form>
