<nav class="navbar">
  <a class="navbar-brand home" [routerLink]="['/dashboard']" >
    Checkstory
  </a>
  <div class="navbar-cont">
    <ul class="nav navbar-nav">
      <li>
        <a [routerLink]="['myaccount']" [routerLinkActive]="['active']">
          MyAccount
        </a>
      </li>
      <li>
        <a (click)="openConfirmDialog()" [routerLinkActive]="['active']">
          Logout
        </a>
      </li>
      <li>
        <a [routerLink]="['about']" [routerLinkActive]="['active']">
          About
        </a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
