<mat-card-content>
  <div *ngFor="let photo of storyPhotos; let i = index">
    Photo no {{ i + 1 }} <span *ngIf="photo.originalPhoto === 't'"><strong>[ORIGINAL]</strong></span>
    <img [src]="'data:image/' + photo.imageType + ';base64,' + photo.content" width="500" height="300">
    <button mat-button type="button" (click)="editPhoto(photo)">
      <i class="material-icons">mode_edit</i>
    </button>
    <button mat-button type="button" (click)="openRemovePhotoDialog(photo)">
      <i class="material-icons">clear</i>
    </button>
  </div>
</mat-card-content>
