.login_page .login_actions {
  display: inline-block;
}

.login_page .login_actions .forgot_pswd_btn {
  margin-right: 5px;
  width: 25%;
}

.login_page .login_actions .signup_btn {
  margin-left: 15px;
  width: 18%;
}

.register_page .register_field {

}

.register_page .validation_error, .login_page .validation_error {
  font-weight: bold;
  color: red;
}

.register_page .signup_btn {
  width: 50%;
}
