<!--<div class="col-md-6 com-md-offset-3">-->
  <!--<h1>Hi {{ currentUser.login }}</h1>-->
  <!--<p>You are logged in with Angular 2!</p>-->
  <!--<h3>All registred users:</h3>-->
  <!--<ul>-->
    <!--<li *ngFor="let user of users">-->
      <!--{{ user.login }} | {{ user.password }} - <a (click)="deleteUser(user.id)">Delete</a>-->
    <!--</li>-->
  <!--</ul>-->
  <!--<p><a [routerLink]="['/login']">Logout</a></p>-->
<!--</div>-->
<div class="col-md-12 home_page">
  <button md-button type="button" class="register_login_btn" (click)="this.showRegisterForm()">Register</button>
  <button md-button type="button" class="register_login_btn" (click)="this.showLoginForm()">Login</button>
</div>
