<form novalidate (ngSubmit)="submit()" [formGroup]="registerForm">
  <div class="col-md-12">
    <md-form-field class="full-width">
      <input mdInput placeholder="Login" formControlName="login">
    </md-form-field>
    <div class="error" *ngIf="registerForm.get('login').errors && registerForm.get('login').touched">
      Login is required
    </div>
  </div>
  <div class="col-md-12">
    <md-form-field class="full-width">
      <input type="email" mdInput placeholder="Email" formControlName="email">
    </md-form-field>
  </div>
  <div class="col-md-12">
    <md-form-field class="full-width">
      <input type="password" mdInput placeholder="Password" formControlName="password">
    </md-form-field>
    <div class="error" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
      Password is required
    </div>
  </div>
  <div class="col-md-12">
    <md-form-field class="full-width">
      <input type="password" mdInput placeholder="Confirm password" autocomplete="false" formControlName="confirmPassword">
    </md-form-field>
    <div class="alert alert-danger" *ngIf="registerForm.get('confirmPassword').errors
                                            && registerForm.get('confirmPassword').touched
                                            && registerForm.get('password').touched">Password not match</div>
  </div>
  <div class="col-md-12">
    <md-card-actions align="end">
      <button md-button type="submit" [disabled]="registerForm.invalid || registerForm.pristine">Sign up</button>
    </md-card-actions>
  </div>
</form>
