<div *ngIf="!stories">
  You don't have any stories yet
</div>
<div class="col-md-12">
  <ul id="thumbnailsStoriesList">
    <li *ngFor="let story of stories | async">
      <strong>{{ story.title }}</strong>
      <img class="tn" width="191" height="146" (click)="goToStoryDetails(story.id)">
      <div>
        {{ story.latitude }}, {{ story.longitude }}
      </div>
      <div *ngIf="story.startDate">
        {{ story.startDate }}
      </div>
      <button mat-button type="button" (click)="editStory(story.id)">
        <i class="material-icons">mode_edit</i>
      </button>
      <button mat-button type="button" (click)="openRemoveStoryDialog(story)">
        <i class="material-icons">clear</i>
      </button>
    </li>
  </ul>
  <button mat-button type="button" (click)="openAddStoryDialog()">
    <i class="material-icons">add_circle</i> Add story
  </button>
</div>
